@{
  Layout = "_Layout";
}
    <div class="parent">
      <h1>Welcome to Pierre's Bakery</h1>
      <div class="Buttons">
        <a href='/vendors/new'>Add a new vendor</a>
        <a href='/vendors'>List of vendors</a>
      </div>
    </div>
