<div class="parent">
  <h2>Add a vendor :]</h2>
  <form action="/vendor" method="post">
  <label for="vendorName">Enter the name vendor</label>
  <input id="vendorName" name="vendorName" typr="text">
  </form>
  <a href="/">Home</a>
  <a href="/vendor">Back to vendors</a>
</div>