@{
  Layout = "_Layout";
}
@using Bakery.Models;


<div class="innerParent">
 <h3>Here are all the orders for this vendor:</h3>

  <h2>Vendor Name: @Model["vendor"].Name</h2>
  <h4>Here are their orders:</h4>

  <ul>
    @if(@Model["orders"].Count == 0)
    {
      <p>no orders</p>
    }
    else
    {
      @foreach(Order order in @Model["orders"])
      {
        <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
        
      }
    }
  </ul>
 <div class="link">
    <a href='/vendors'>Return to vendors list</a>
    <a href='/' class="link">Home</a>
    <a href="/vendors/@Model["vendor"].Id/orders/new">add orders for this vendor</a>
  </div>
</div>